.footer{
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-right: 5%;
    padding-left: 5%;
}
.firstft{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    max-height: 238px;
    padding-bottom: 5%;
}
.one{
    display: flex;
    flex-direction: column;
    max-width: 268px;
}
.iso{
    width: 50%;
}
.lgo{
    width: 50%;
}
.one >img{
    max-width: 100%;
    padding-bottom: 3%;
}
.one >h1{
    font-size: 14px;
    font-weight: 400;
    text-overflow: clip;
    line-height: 22px;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.oneplus{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul >li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
    list-style-type: none;
    font-weight: 700px;
    font-size: 18px;
}
li >a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}
li >a:hover{
    text-decoration: underline;
}
.secondft{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    max-height: 238px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid gainsboro;
}
.reach{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5%;
}
#rch{
    max-width: 95%;
}
.two >h1{
    font-size:18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.reach >h1{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.reach >img{
    max-width: 100%;
}
.copyright{
    padding-top: 3%;
    border-top:1px solid gainsboro;
    display: flex;
    justify-content:space-between;
}
.copyright >h1, h2{
    font-size: 14px;
    font-weight: 400;
}